:root {
  --font-color-main: #5dd8a9;
  --font-color--white: #d3fff0;
  --font-color--light: #74ffca;
  --nav-bg-color: #0f0e1f;
  --app-bg-color: #07070f;
  --border-color: #2c3e50;
  --border-size: 3px solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

.view {
  padding: 1rem;
}

.view-header {
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: var(--border-size) var(--font-color-main);
}

.btn {
  display: block;
  width: 10rem;
  height: 2rem;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  border-radius: 3px;
  cursor: pointer;
}

.name--input-group, .username--input-group, .email--input-group, .password--input-group {
  width: 100%;
  margin-bottom: 1rem;
}

.input--group {
  width: 100%
}

.input--label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: .25rem;
}

.input--text {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  height: 2rem;
  padding-left: .25rem;
  border: var(--border-size) var(--font-color-main);
  border-radius: 3px;
}

.input--text:disabled {
  background-color: #646464;
}

.cta--primary {
  background-color: var(--font-color-main);
  border: var(--border-size) var(--font-color--light);
  transition: all .3s ease-in-out;
}
.cta--primary:hover {
  font-size: 1.2rem;
  border: var(--border-size) var(--font-color--white);
}
